<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chronos" version="0.0.133" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Nustache" version="1.13.9.5" targetFramework="net40" />
  <package id="Serilog" version="1.5.1" targetFramework="net40" requireReinstallation="True" />
</packages>